@keyframes slideFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInLoop {
    0%{
        opacity: 0.4;
    }
    20% {
		opacity: 0.6;
	}
	40% {
		opacity: 0.8;
	}
	60% {
		opacity: 1;
	}
	80% {
		opacity: 0.8;
	}
    100% {
        opacity: 0.6;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slideUp {
    from {
      bottom: -100%; /* Fora da tela */
      opacity: 0; /* Invisível */
    }
    to {
      bottom: -10%; /* Posição final */
      opacity: 1; /* Totalmente visível */
    }
  }

  @keyframes wrong {
	20% {
		background-color: #5200005e;
        border: 2px solid crimson;
	}
	40% {
		transform: translate(-15px, 0);
	}
	60% {
		transform: translate(10px, 0);
	}
	80% {
		transform: translate(-5px, 0);
	}
}
@keyframes correct {
	20% {
		background-color: #012b005e;
        border: 2px solid limegreen;
	}
	40% {
		transform: translate(0, -15px);
	}
	60% {
		transform: translate(0, 10px);
	}
	80% {
		transform: translate(0, -5px);
	}
}

.statusBar{
    animation: opacity 5s ease-out forwards;
}

.card, .header {
    animation: slideFromRight 0.8s ease-out forwards;
}

.card:nth-child(1) {
    animation-delay: 0s;
}

.card:nth-child(2) {
    animation-delay: 0.05s;
}

.card:nth-child(3) {
    animation-delay: 0.1s;
}

.appear{
    animation: fadeIn 2s ease-in forwards;
}
.disappear{
    animation: fadeOut 2s ease-in forwards;
}


.theu{
    background: -moz-linear-gradient(222deg, rgba(82, 120, 113, 1) 35%, rgba(212, 139, 86, 1) 100%);
    background: -webkit-linear-gradient(222deg, rgba(82, 120, 113, 1) 35%, rgba(212, 139, 86, 1) 100%);
    background: linear-gradient(222deg, rgba(82, 120, 113, 1) 35%, rgba(212, 139, 86, 1) 100%);
}